<div style="text-align: center">
  <h1>
    Wellcome to {{title}}!
  </h1>
</div>

<ag-grid-angular 
    style="width: 800px; height: 155px; margin: auto"
    class="ag-theme-blue"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="multiple">
</ag-grid-angular>

<router-outlet></router-outlet>